
.header-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header-title {
    flex: 1;
    padding: 10px;
    display: flex;
    padding-left: 50px;
}

.header-filters {
    flex: 2;
    padding: 10px;
}

.header-title .title-content {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.filters-container {
    padding-left: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15%;
}

.filter-place {
    margin-right: 5px;
}

.filter-devices {
    margin-left: 5px;
}

.filter-place, .filter-devices {
    flex: 1;
    border: #dbd1d1 solid 1px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 3px 4px;

}

.filter-place svg, .filter-devices svg{
    margin-top: 3px;
    padding-left: 4px;
    border-left: #dbd1d1 solid 1px;
}

.filter-place span {
    padding-right: 7px;
}

.place-dropdown {
    position: absolute;
    background: white;
    border-radius: 9px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 9.5%;
  }
  
  .place-dropdown .dropdown-item {
    padding: 8px 18px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f2f2f2;
  }

  .dropdown-item.selected {
    background-color: #e0e0e0;
  }

  .devices-dropdown {
    position: absolute;
    background: white;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 9.5%;
  }

  .devices-dropdown .dropdown-item{
    padding: 8px 23px;
    cursor: pointer;
  }


.summary-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 65px;
}

.dashboard-summary {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .summary-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Responsive: stacks on small screens */
  }
  
  .summary-box {
    flex: 1;
    min-width: 200px;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #dbd1d1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: 0.3s ease;
  }
  
  .summary-box:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }
  
  .summary-icon {
    font-size: 32px;
    margin-bottom: 10px;
    color: #3b82f6; /* blue tone */
  }
  
  .summary-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .summary-content {
    font-size: 14px;
    color: #555;
    text-align: center;
  }

  .summary-icon.warning{
    color: red; /* warning tone */
  }

  .summary-title.warning {
    color: red; /* warning tone */
  }